.classpath
.settings
.project
.idea/
*.iml
lib/
logs/
target/
bin/
.metadata
*.log
*.log.*
.vagrant/
.#*
.lein*
.nrepl*
.checkstyle
*.class
rebel.xml
exam-manager-service/target
exam-manager-web/target
exam-manager-utils/target
exam-manager-rpc/target
